table, th, td {
  border: solid 2px black;
}

th, td {
  max-width: 100%;
  white-space: nowrap;
}


table {
  background-color: rgb(168, 255, 222);
}

.funcNeeded {
  background-color: rgb(252, 221, 164);
}

.headerColor {
  background-color: rgb(255, 202, 202);
}